  DATABASE_URL=postgresql://...
  DIRECT_URL=postgresql://...
  NEXTAUTH_SECRET=<any random string>
  GOOGLE_CLIENT_ID=<from Google Cloud Console>
  GOOGLE_CLIENT_SECRET=<from Google Cloud Console>
  GOOGLE_ENCRYPT_SECRET=<any random string>
  GOOGLE_ENCRYPT_SALT=<any random string>
  GOOGLE_PUBSUB_TOPIC_NAME=<your pubsub topic>
  INTERNAL_API_KEY=<any random string>